
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  nav > a {
    margin: 2% 2%;
    height: 25%;
    width: 15%;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    line-height: 1;
  }
 